body {
  font: 100% Helvetica, sans-serif;
  font-size: 1.2em;
  background-color: #efefef;
}
body .navbar {
  background-color: #000000;
}
body .navbar-brand {
  color: white;
}
body .form-group {
  margin-top: 20px;
}
body p {
  color: #111;
  font-family: "arial";
  font-size: 16px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);
}
body p:nth-child(2) {
  animation: type2 8s steps(60, end);
}
body p a {
  color: red;
  text-decoration: none;
}
body span {
  animation: blink 1s infinite;
}

@keyframes type {
  from {
    width: 0;
  }
}
@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
@keyframes blink {
  to {
    opacity: .0;
  }
}
::selection {
  background: black;
}
