body {
  font: 100% Helvetica, sans-serif;
  font-size: 1.2em;
  background-color: #efefef;
}

.blocker {
  float: left;
}

p {
  color: #111111;
  font-family: "verdana";
  font-size: 16px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);
}

p:nth-child(2) {
  animation: type2 8s steps(60, end);
}

p a {
  color: lime;
  text-decoration: none;
}

span {
  animation: blink 1s infinite;
}

@keyframes type {
  from {
    width: 0;
  }
}
@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
@keyframes blink {
  to {
    opacity: .0;
  }
}
::selection {
  background: black;
}
