body {
  font: 100% Helvetica, sans-serif;
  background-color: #efefef;
  font-size: 1.2em;
}
body .navbar {
  background-color: black;
}
body .form-group {
  margin-top: 20px;
}
body p {
  animation: type 4s steps(60, end);
  margin: 10px 0 0 10px;
  font-family: "arial";
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  color: #111;
  width: 30em;
}
body p:nth-child(2) {
  animation: type2 8s steps(60, end);
}
body p a {
  text-decoration: none;
  color: red;
}
body span {
  animation: blink 1s infinite;
}
body footer {
  background-color: #000;
  height: 50px;
}
body footer .text {
  padding-left: 120px;
  padding-top: 20px;
  color: #ccc;
}

@keyframes type {
  from {
    width: 0;
  }
}
@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
@keyframes blink {
  to {
    opacity: .0;
  }
}
::selection {
  background: black;
}
