body{
    font: 100% Helvetica, sans-serif;
    background-color: #efefef;
    font-size: 1.2em;

    // NavBar styles
    .navbar{
      background-color: black;
    }

    // form styles
    .form-group{
      margin-top: 20px;
    }

    // Typewriter text css follows below
    p{
        animation: type 4s steps(60, end);
        margin: 10px 0 0 10px;
        font-family: "arial";
        white-space: nowrap;
        overflow: hidden;
        font-size: 16px;
        color: #111;
        width: 30em;


        &:nth-child(2){
            animation: type2 8s steps(60, end);
        }

         a{
            text-decoration: none;
            color: red;

        }
    }

    span{
        animation: blink 1s infinite;
    }

    footer{
      background-color: #000;
      height: 50px;
      .text{
          padding-left: 120px;
          padding-top: 20px;
          color: #ccc;
      }
    }
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}
